.App {
  text-align: center;
}
a:link {
  text-decoration: none;
}
.product .card,
.product .card-body {
  border-radius: 1rem;
}
.product img {
  height: 250px;
  width: 100%;
}

.product .title {
  color: rgb(100, 81, 81);
  font-size: 13px !important;
}

.product .price {
  font-size: 14px;
  color: #ff4d01;
  font-family: cursive;
  padding-top: 5px !important;
  float: left;
}
.hot span {
  background-color: rgb(216, 156, 156);
  color: white !important;
  padding: 3px 5px 3px 5px;
  border: 1px;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.new span {
  background-color: rgb(160, 208, 160);
  color: white !important;
  padding: 3px 5px 3px 5px;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.cursor {
  cursor: pointer;
}

.signup {
  border-radius: 35px !important;
  /* padding: 6px 15px !important; */
}

.nav-links {
  color: white !important;
}
.spinner {
  align-items: center !important;
}

.page-body {
  padding-top: 120px;
}

.error {
  font-size: 10px;
  color: red !important;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .product .custom-home-image {
    height: 150px !important;
  }
  .page-body {
    padding-top: 150px;
  }
}

.form-control:focus {
  border-color: deepskyblue !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(100, 237, 255, 0.5) !important;
}
