.App {
  text-align: center;
}
a:link {
  text-decoration: none;
}
.product .card,
.product .card-body {
  border-radius: 1rem;
}
.product img {
  height: 250px;
  width: 100%;
}

.product .title {
  color: rgb(100, 81, 81);
  font-size: 13px !important;
}

.product .price {
  font-size: 14px;
  color: #ff4d01;
  font-family: cursive;
  padding-top: 5px !important;
  float: left;
}
.hot span {
  background-color: rgb(216, 156, 156);
  color: white !important;
  padding: 1px 5px 3px 5px;
  border: 1px;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.new span {
  background-color: rgb(160, 208, 160);
  color: white !important;
  padding: 1px 5px 3px 5px;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.cart .img {
  height: 80px;
  width: 80px;
}
.cart .title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  color: black !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.cursor {
  cursor: pointer;
}

.fixTableHead {
  overflow-y: auto;
  max-height: 80vh;
}
.fixTableHead thead th {
  position: sticky;
  top: -1px;
  transition: 0.8s ease-in-out;
  background-color: #284561;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
.cart-icon-list {
  border: 1px solid #7e7878;
  border-radius: 4px !important;
  padding: 0 2px;
}

.plus-minus-icon {
  color: black !important;
}

.cart .card p {
  font-size: 14px;
}

.signup {
  border-radius: 35px !important;
  /* padding: 6px 15px !important; */
}

.nav-links {
  color: white !important;
}
.spinner {
  align-items: center !important;
}

@media only screen and (max-width: 768px) {
  .fixTableHead {
    font-size: 12px;
  }
}
