/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */
body {
  font-family: "Roboto", sans-serif;
}


.App {
  text-align: center;
}
a:link {
  text-decoration: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.cursor {
  cursor: pointer;
}

.spinner {
  align-items: center !important;
}

.page-body {
  padding-top: 120px;
}

.error {
  font-size: 10px;
  color: red !important;
  padding: 0;
  margin: 0;
}

.form-control:focus {
  border-color: deepskyblue !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(100, 237, 255, 0.5) !important;
}

.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .page-body {
    padding-top: 150px;
  }
}
